<h1 class="subtitle is-2">Top Up Transactions</h1>
<%= render 'transaction_table', transactions: @top_up_transactions %>

<h1 class="subtitle is-2">Withdraw Transactions</h1>
<%= render  'transaction_table', transactions: @withdraw_transactions %>
